extends ../_component/layout/template

block config
    -
        var pageTitle = 'Learn JavaScript';
        var pageDescription = 'JavaScript  page';
        var landingPage ='JavaScript';
        var activeLink = '';

block main-content
    h1=pageTitle
    p=pageDescription
    h2 HTML
    p The language for building web pages. #[a(href='/html') Check it out!]
    h2 CSS
    p The language for styling web pages. #[a(href='/css') Pure awesomeness!]
    h2 JavaScript
    p The language for programming web pages. #[a(href='/javascript') Behind the curtains!]
